<template>
    <div  v-if="finalMessage" class="popup-container" id="popup-container">
      <div class="popup">
        <h2>{{ finalMessage }}</h2>
        <h3>... the word was: {{ word }}</h3>
        <button @click="$emit('reset')">Play Again</button>
      </div>
    </div>
</template>
<script>
import { computed } from 'vue'
export default {
    props: {
        status: {
            type: String,
            default: ''
        },
        word: {
            type: String,
            default: ''
        }
    },
    setup(props){
        const finalMessage = computed(() => {
            if (props.status === 'win') return 'Congrats! You Won!'
            if (props.status === 'lose') return 'Sorry, You Lost!'
            return ''
        })
        // const reset = () => { this.$emit('reset') }
        return { finalMessage } 
    }
}
</script>